@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #DEE9F7;
}


/* ****************sidebar1******************* */

/* .toggle {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(-50%);

}

.icons:hover {
    background-color:#2A3965;    
    width: 60px;
    height: 60px;
    border-radius: 6px;
    padding: 15px;
}

.icons path {
    fill: #BEB8FF; 
  }
  
  .icons:hover path {
    fill: #BEB8FF;
    padding: 4px;
  }

  .disable-hover:hover {
    background-color: unset !important;
    width: unset !important;
    height: unset !important;
    border-radius: unset !important;
    padding: unset !important;
} */

  
/* ****************sidebar2******************* */

.icons path{
    fill: hwb(0 100% 0%);
}

.hidden {
    display: none !important;
  }
  
  .arrow-left svg path {
    transition: transform 0.3s ease-in-out;
  }
  